.container 
  .timeline_container
  %h4 New Posts
  = link_to 'Timeline', timeline_path, class: 'text-black-50'
  %br
  = link_to 'Popular Posts', timelinelike_path, class: 'text-black-50'

  = render 'commons/posts'

  //= link_to image_tag('プラス.png'), new_post_path, class: 'new_post_icon'
  %br
  

  = javascript_pack_tag 'post'