.container
  .comment_page_header
    .back_icon
      = link_to image_tag('矢印.png'), :back
    %p.comment-page-title Comment
  .comment#post-show{data:{post_id: @post.id}}
    .comments-container
    
  .comment-set
    .comment-text-area
      = text_area_tag :comment_content, '', class: 'sm w-100',size: '1x1'
    .btn-secondary.btn.w-100.add-comment-btn
      COMMENT

%br
%br
        

  = javascript_pack_tag 'post'