.container
  .comment#post-show{data:{post_id: @post.id}}
    %h4 Comment
    %p コメント一覧
    .comments-container
    
  .comment-set
    .comment-text-area
      = text_area_tag :comment_content, '', class: 'sm w-100',size: '1x1'
    .btn-secondary.btn.w-100.add-comment-btn
      COMMENT


        

  = javascript_pack_tag 'post'