@import 'form';
@import 'post';

p{

 font-family: Poppins;
}
label {
  font-family: Poppins;
}

.container {
  
  width: 95%;
}

.user_name {
  text-align: center;
}

.user-icon img{
  width: 76px;
  height: 76px;
  border-radius: 99px;
  margin: 0 auto;
  display: block;

}


@import 'bootstrap';