@import 'form';
@import 'post';
@import 'account';
@import 'pictures';
@import 'profile';
@import 'comment';

p{

 font-family: Poppins;
}
label {
  font-family: Poppins;
}

.container {
  
  width: 95%;
}

.footer-container {
  position: absolute;
  bottom: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between; 

}
.footer-icon img{
  width: 30px;
  
}

.wrapper {
  min-height: 120vh;
  position: relative;
}

@import 'bootstrap';
