.form-text {
  font-size: 11px;
  font-weight: 500;
  color: #979797;
  margin-bottom: -15px;
}

.form {
  width: 100%;
  border: 1px solid #9E9E9E;
  border: none;
  font-style: normal;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  background-color: #FFE600;
  border: none;
  padding:16px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  
}

.top-image {
  width: 100%;
  margin-bottom: -25px;
  position: relative;
  top: -60px;
}