
///投稿画面///
.post-user-icon img{
  width: 30px;
  height: 30px;
  border-radius: 99px;
  display: block;
  float: left;
}

.post-username {
  position: relative;
  left: 20px;
  top: 4px;
}

.picture_input_btn{
  display: block;
  width: 120px;
  height: 30px;
  margin-top: 30px;
  padding-top: 2px;
  color: white;
  text-align: center;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
}

.picture_form{
  display: none;
}

.picture_form_name {
  color: #4F4F4F;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: auto 0;
  padding-bottom: 10px;
}

.post_content_form {
  width: 100%;
  border: none;
  font-style: normal;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 5px;

}

.post-submit {
  display: inline-block;
  font-family: poppins;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #FF006E, #FFD500);
  transition: .5s;
  background-size: 200%;
  border: none;
  margin-top: 40px;
}
.post-submit:hover {
  background-position: right center;
}

///タイムライン///

.post-picture img{

  margin-top: 3px;

}

.post {
  margin-bottom: 30px;
}

.post-user {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  position: relative;
  left: 10px;
  top: 2px;
}

.post-time {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-top: 7px;
  color: #9E9E9E;

}
.post-picture img{
  width: 50px;
  height: 50px;

}
.post-content {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #333333;

}
.timeline-user-icon img{
  width: 25px;
  height: 25px;
  border-radius: 99px;
  display: block;
  float: left;

}

.hidden {
  display: none;
}